/* You can add global styles to this file, and also import other style files */

/* How to import font
@font-face {
    font-family: 'your-font-family';
    src: url('/assets/fonts/your-donwloaded-font-1'), 
         url('/assets/fonts/your-donwloaded-font-2');
}
*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html{
    font-family: 'lithos-pro-black' !important;
}

.example-image{
    width: 310px;
    padding-top: 10%;
    height: 399px;
}

img {
    max-width: 100%;
    
}

.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}