


<div class="container-fluid">
    
<div  class="md-content" flex md-scroll-y (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">
    

    
<!--  (selectedIndexChange)='selectChange()'      [(selectedIndex)]='selectedIndex'         -->
<mat-tab-group  (selectedTabChange)='onSelectChange($event)'   >
    
  <mat-tab  label="About Me" >
     
    <h1>Some tab content</h1>
    
    
  </mat-tab>
  <mat-tab label="Sketches" >
     
    <h1>Some more tab content</h1>
    <app-bootstrap-images></app-bootstrap-images>
    
    
  </mat-tab>

  <mat-tab label="Portfolio">
    
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>

  <mat-tab label="Inked">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Sketch Covers">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Illustrations">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Fine Art">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Blog">
    <h1>Need To Show Instagram</h1>
    <app-instafeed></app-instafeed>
    
    
    
  </mat-tab>
</mat-tab-group>

</div>
</div>

