
<div class="container-fluid">

<mat-tab-group (selectChange)='onSelectChange($event)'>
  <mat-tab  label="About Me" >
    <h1>Some tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Sketches" >
    <h1>Some more tab content</h1>
    <app-bootstrap-images></app-bootstrap-images>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Portfolio">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Inked">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Sketch Covers">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Illustrations">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Fine Art">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Blog">
    <h1>Some more tab content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>

</div>